nbproject/

*.o
*.gch
*.a
callgrind.out.*

stunclient
stunserver
stuntestcode

stunclient.exe
stunserver.exe
stuntestcode.exe

# Waf
build/
.lock-waf*
.waf-*
*.pyc

# Conan
conanbuildinfo_waf.py
conaninfo.txt
conan_imports_manifest.txt
